<div class="col-sm-12">
  <div class="col-sm-12">
    <h1 class="text-center">Algo Especial?</h1>
  </div>
<div class="col-sm-12 d-flex justify-content-center">
<form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">
  <div class="form-group">
  <label class="textoStyle">Nombre</label>
  <input name="email" id="register-email" type="email" placeholder="nombre" class="form-control inputStyle" ngModel required>
  <br>
  <label class="textoStyle" for=""> Mensaje</label>
  <textarea class="form-control inputStyle" name="mensaje" id=""  placeholder="tu texto aqui" rows="5" ngModel required></textarea>
  <br>
  <button type="submit" value="Register">Enviar</button>
</div>
</form>
</div>

</div>