<div class="row">

    <div class="col-sm-12">
        <h1 class="text-center titulosFuente">
            Estrenos
        </h1>
    </div>
    <br>
    <br><br>
    <div class="row">

        <div class="col-sm fondoVideo">
            <iframe class="frameStyle"width="auto" height="auto" src="https://www.youtube.com/embed/lowIY0LlHw8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-sm fondoVideo">


            <iframe class="frameStyle" width="auto" height="auto" src="https://www.youtube.com/embed/lowIY0LlHw8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-sm fondoVideo">
            <iframe class="frameStyle" width="auto" height="auto" src="https://www.youtube.com/embed/lowIY0LlHw8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>

    </div>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
   <h1 class="text-center titulosFuente">
       ABOUT ME
   </h1>
</div>
</div>