<div class="row">

  <div class="col-sm-12">
    <h1 class="text-center titulosFuente">
      Estrenos
    </h1>
  </div>
  <br>
  <br><br>
  <div class="row">

      <div id="" class="col videoFrame videoStyle">
        <iframe class="frameStyle" width="380" height="270" src="https://www.youtube.com/embed/lowIY0LlHw8"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div id="videoFrame" class="col videoFrame videoStyle">
        <iframe class="frameStyle" width="380" height="270" src="https://www.youtube.com/embed/lowIY0LlHw8"
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      
  </div>
</div>
<br><br>
<!--ABOUT ME-->
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center titulosFuente">
      About Me
    </h1>
  </div>
</div>
<br>

<div class="row fondoDiv">
  <div class="col-sm-5">
    <img
      src="https://images.pexels.com/photos/2123606/pexels-photo-2123606.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      class="img-fluid frameStyle" alt="Responsive image">
  </div>
  <div class="col-sm-7 divTextoAboutMe">
    <p class="text-justify textoAboutMe">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet reprehenderit, dolorum cum deleniti obcaecati ex
      vitae sed dicta? Ipsum sed illum laudantium soluta cupiditate odio, et dolore magni eius facilis.
    </p>
  </div>
</div>