.header .navbar{
    background-color: transparent !important;
}

.estiloFuente {
  font-family: 'Big Shoulders Display', bold;
  font-size: 22px;
  color: whitesmoke !important;
}

.estiloFuente:hover{
  color: #F5F137 !important;

}

.navItemStyle{
  background-color: black;
  margin-left: 1em;
}